.DS_Store

.idea/*
docs/*
webstat/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.project

application/config/config.php
application/config/database.php
.htaccess